DATABASE_URL=mysql+pymysql://root:senha@localhost:3306/kaorcount
SECRET_KEY=colaca-sua-vagabundo
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
API_V1_PREFIX=/api/v1
FATSECRET_CLIENT_ID=sua-client-id
FATSECRET_CLIENT_SECRET=seu-client-secret
